@charset "utf-8";
/* CSS Document */

html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-style: normal;
}

/* вспомогательные стили  The following are the recommended styles for visually hiding content that will be read by a screen reader.
http://webaim.org/techniques/css/invisiblecontent/ */

.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

/*______*/

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.header-nav {
  width: 100%;
  min-height: 75px;
  margin-top: 40px;
  background-color: #C8CD53;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 970px;
}

.nav-list {
  max-width: 65%;
  padding-top: 11px;
  text-align: center;
}
.adress-list {
  max-width: 35%;
  padding-top: 11px;
  text-align: center;
}

.nav-item {
  list-style: none;
  display: inline-block;
}

.nav-item a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 400;
  line-height: normal;
  padding-right: 12px;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 14px;
}
.nav-item a:hover {
  background-color: #6A972E;
}

.adress-item a:hover {
  background-color: #C8CD53;
}

.slider {
  position: relative;
  width: 100%;
  height: 650px;
  margin: 0 auto;
  text-align: center;
  background-color: #F7E0E1;
  background-image: url(../img/header-background.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.slider-name {
  margin: 0 auto;
  max-width: 640px;
}

.brand-name {
  padding-top: 70px;
  font-size: 5em;
  font-weight: 700;
  color: #b78585;
}

.identic-name {
  padding-top: 5px;
  font-size: 1.5em;
  font-weight: 500;
  color: #b78585;
}

.social-btn {
  margin: 0 auto;
  max-width: 100px;
}

.social-block {
  position: relative;
  max-width: 1270px;
  min-height: 220px;
  margin: 0 auto;
  text-align: center;
}

.social-block img {
  margin-top: -140px;
  margin-bottom: 0;
  padding: 0;
}

.social-contact {
  width: 500px;
  height: 40px;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
}

.social-btn {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-right: 5px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
}

.fb-btn {
  background-image: url(../img/fb-btn.png);
  background-repeat: no-repeat;
}

.inst-btn {
  background-image: url(../img/inst-btn.png);
  background-repeat: no-repeat;
}

.vk-btn {
  background-image: url(../img/vk-btn.png);
  background-repeat: no-repeat;
}

.features {
  width: 100%;
  min-height: 690px;
  background-color: #f2f2f2;
}

.features-block {
  position: relative;
  max-width: 1270px;
  min-height: 690px;
  margin: 0 auto;
  border-top: 10px solid #C8CD53;
  background-image: url(../img/about-us.jpg);
  background-size: 50% auto;
  background-repeat: no-repeat;
  background-position: 0% 50%;
}

.features-item {
  position: absolute;
  top: 0;
  left: 51%;
  width: 33%;
  height: 100%;
}

.features-head {
  padding-top: 10px;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
}

.features-text {
  margin: 0;
  font-size: 1em;
  font-weight: 300;
  line-height: normal;
}

.gallery {
  max-width: 1270px;
  min-height: 390px;
  margin: auto;
  margin-bottom: 50px;
  border-bottom: 10px solid #C8CD53;
}

.gallery-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 310px;
  margin: 0;
  padding: 0;
  padding-top: 35px; 
}

.busines-block {
  position: relative;
  max-width: 1270px;
  min-height: 550px;
  margin: 0 auto;
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url(../img/busines.jpg);
  background-size: 50% auto;
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.busines-item {
  position: absolute;
  top: 0;
  left: 15%;
  width: 33%;
  height: 100%;
}

.busines-head {
  padding-top: 10px;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
}

.busines-text {
  margin: 0;
  font-size: 1em;
  font-weight: 300;
  line-height: normal;
}

.get-btn {
  display: inline-block;
  padding: 10px 20px;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  background-color: #C8CD53;
  border: none;
}

.catering-item {
  position: absolute;
  top: 0;
  left: 51%;
  width: 33%;
  height: 100%;
}

.catering-block {
  position: relative;
  max-width: 1270px;
  min-height: 620px;
  margin: 0 auto;
  padding-top: 0;
  background-image: url(../img/catering.jpg);
  background-size: 50% auto;
  background-repeat: no-repeat;
  background-position: 0% 50%;
}

.catering-head {
  padding-top: 10px;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
}

.catering-text {
  margin: 0;
  font-size: 1em;
  font-weight: 300;
  line-height: normal;
}

.catering-order {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  background-color: #C8CD53;
  border: none;
}

.contact {
  position: relative;
  max-width: 1270px;
  min-height: 350px;
  margin: auto;
  margin-top: 50px;
  text-align: left;
  border-top: 10px solid #C8CD53;
}

.contact-head {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 50%;
  padding-top: 20px;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
}

.contact-text {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 50%;
  margin: 0;
  padding-top: 100px;
  font-size: 1em;
  font-weight: 300;
  line-height: normal;
}

.contact-map {
  position: absolute;
  z-index: 1;
  top: 3px;
  left: 0;
}

.footer {
  margin: 0 auto;
  min-height: 150px;
  background-color: #C8CD53;
}
.footer-copyright {
  padding-top: 70px;
  text-align: center;
  font-weight: 300;
  color: #ffffff;
}

@media (max-width: 1100px){
  .gallery-content__slide3 {
    display: none;
  }
}

@media (max-width: 970px){
  
  .features {
    width: 100%;
    min-height: 300px;
    background-color: #f2f2f2;
}
  
  .features-block {
    position: relative;
    max-width: 970px;
    min-height: 300px;
    margin: 0 auto;
    background: #f2f2f2;
  }
  
  .features-item {
    top: 0;
    left: 10%;
    width: 80%;
    height: 70%;
  }
  
}
