/*
  .size-xxs(12);
  .size-xs(12);
  .size-sm(10);
  .size-md(6);
  .size-lg(2);
  */
body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img,
abbr {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ul li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
legend {
  color: #000;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
img {
  max-width: 100%;
  height: auto;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}
/*
.debug {
  position: relative;
  .debug(rgba(0, 0, 0, 0.1), 1px solid #ff0);
}
*/
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  font-size: 0;
  overflow: hidden;
}
.button {
  background-color: #004DA6;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
}
.button:hover {
  background-color: #5C9CE6;
  color: #003573;
}
html {
  height: 100%;
}
.paragraf {
  padding-left: 30%;
  padding-top: 10%;
  font-size: 70px;
  color: red;
}
.main {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  margin: 0 auto;
  margin-top: 10%;
  max-width: 690px;
  min-height: 300px;
  background-color: #c1c1c1;
}
.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  width: 100%;
  min-height: 65px;
  margin: 0 auto;
  padding: 0;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #FFFFFF;
}
.header__logo {
  margin: 0;
  margin-right: 15px;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 1.5px;
  color: #6d7278;
}
.header__txt {
  position: relative;
  margin: 0;
  margin-right: 15px;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: #6d7278;
}
.header__txt--access {
  display: none;
  color: #8a7c5d;
}
.header__icon {
  width: 16px;
  height: 16px;
  margin: 0;
  margin-right: 8px;
  padding: 0;
  background-image: url("/img/shape-copy-51.svg");
}
/*--- media ---*/
.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-content: flex-start;
          align-content: flex-start;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  min-height: 300px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #FFFFFF;
}
.content__h1 {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  color: #000000;
}
.content__txt {
  margin: 0;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #000000;
}
.content__txt--mb {
  margin-bottom: 15px;
}
.content__img-block {
  width: 100%;
  height: 200px;
  margin: 0;
  padding: 0;
  background-color: #a0a0a0;
}
.content__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.content__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.content__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #142536;
}
.content__item--bt {
  border-top: 1px solid #405265;
}
.content__item-head {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}
.content__item-head:hover {
  background-color: #22374b;
}
.content__item-head::before {
  position: absolute;
  content: "";
  top: calc(50% - 3px);
  right: 15px;
  width: 12px;
  height: 6px;
  background-image: url("/Genotek/img/arrow.svg");
  background-position: center;
  background-size: cover;
}
.content__item-head--active ~ .content__subitem {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.content__item-head--active::before {
  position: absolute;
  content: "";
  top: calc(50% - 3px);
  right: 15px;
  width: 12px;
  height: 6px;
  background-image: url("/Genotek/img/arrow.svg");
  background-position: center;
  background-size: cover;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.content__item-head-txt {
  margin: 0;
  padding: 0;
  padding-right: 43px;
  font-size: 22px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  color: #ffffff;
}
/*--- subitem ---*/
.content__subitem {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}
.content__subitem--active ~ .content__item-head {
  border-bottom: 1px solid #405265;
}
.content__subitem-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.content__subitem-txt {
  margin: 0;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
}
.content__subitem-txt--color {
  color: #5a88c1;
}
.content__subitem-txt--mb {
  margin-bottom: 30px;
}
.content__subitem-img {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  padding: 0;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}
.content__subitem-img--desktop {
  display: none;
}
.content__subitem-img--mb {
  margin-bottom: 29px;
}
.content__subitem-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}
.content__subitem-form-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #5c738b;
}
.content__subitem-form-row:hover {
  border-bottom: 1px solid #ffffff;
}
.content__subitem-form-row--mb {
  margin-bottom: 30px;
}
.content__subitem-label {
  margin: 0;
  margin-right: 10px;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
}
.content__subitem-input {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
          flex-grow: 1;
  height: 24px;
  margin: 0;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
  background-color: transparent;
  border: none;
  outline: none;
}
.content__subitem-input-clear {
  -webkit-box-flex: 0;
  -webkit-flex: none;
          flex: none;
  width: 14px;
  height: 14px;
  margin: 0;
  padding: 0;
  background-image: url("/img/clear.svg");
}
.content__subitem-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  width: 270px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  color: #FFFFFF;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
}
/*--- media ---*/
@media screen and (min-width: 600px) {
  .header {
    padding-left: 45px;
    padding-right: 45px;
  }
  .header__txt--access {
    display: block;
    color: #8a7c5d;
  }
  .content__h1 {
    padding-left: 45px;
    padding-right: 45px;
  }
  .content__txt--width {
    width: 485px;
    padding-left: 45px;
    padding-right: 45px;
  }
  .content__img-block {
    width: 100%;
    height: 450px;
  }
  .content__item-head {
    padding-left: 45px;
    padding-right: 45px;
  }
  .content__subitem {
    padding-top: 29px;
    padding-bottom: 29px;
    padding-left: 45px;
    padding-right: 45px;
  }
  .content__subitem-form {
    width: 285px;
    margin: 0 auto;
  }
  .content__subitem-form-btn {
    width: 214px;
  }
  .content__item-head {
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    min-height: 88px;
  }
}
@media screen and (min-width: 780px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 1024px) {
  .content__h1 {
    width: 100%;
  }
  .content__subitem {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    width: 100%;
  }
  .content__subitem-wrapper {
    -webkit-align-content: flex-start;
            align-content: flex-start;
    max-width: 693px;
    margin: 0;
    margin-right: auto;
  }
  .content__subitem-txt {
    max-width: 693px;
    margin-right: 118px;
  }
  .content__subitem-img {
    -webkit-box-flex: 0;
    -webkit-flex: none;
            flex: none;
  }
  .content__subitem-img--mob {
    display: none;
  }
  .content__subitem-img--desktop {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    margin-right: auto;
  }
  .content__subitem-form {
    margin: 0;
    margin-right: auto;
  }
  .content__subitem-form-btn {
    margin-bottom: 0;
  }
}
