/*
.lg-block({

  });

  .size-xxs(12);
  .size-xs(12);
  .size-sm(10);
  .size-md(6);
  .size-lg(2);
  */
body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img,
abbr {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ul li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
legend {
  color: #000;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
img {
  max-width: 100%;
  height: auto;
}
.wrapper {
  max-width: 1420px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}
.debug {
  position: relative;
  height: 100vh;
  position: fixed;
  width: 100%;
}
.debug > div {
  height: inherit;
  max-width: 1420px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}
.debug > div > div {
  height: inherit;
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}
.debug > div > div > div {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 5px;
  margin-right: 5px;
  width: calc(4.166666666666667% - 10px);
  height: inherit;
  outline: 1px solid rgba(240, 240, 0, 0.24);
  background: rgba(0, 0, 0, 0.1);
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  font-size: 0;
  overflow: hidden;
}
.scroll-anchor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.button {
  background-color: #c80066;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
}
.button:hover {
  background-color: #ff8daf;
  color: #ab0157;
}
html {
  height: 100%;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-SemiBold.woff2') format('woff2'), url('fonts/SourceSansPro-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-Light.woff2') format('woff2'), url('fonts/SourceSansPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-Italic.woff2') format('woff2'), url('fonts/SourceSansPro-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-Regular.woff2') format('woff2'), url('fonts/SourceSansPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-Bold.woff2') format('woff2'), url('fonts/SourceSansPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
.main-header {
  width: 100%;
}
.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: #ff8daf;
  z-index: 50;
  transition: 0.5s;
}
.main-nav__toggle {
  position: fixed;
  top: 30px;
  right: 20px;
  display: block;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 20;
}
.main-nav__toggle span::after,
.main-nav__toggle span::before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
.main-nav__toggle span::after {
  top: 9px;
}
.main-nav__toggle span {
  position: relative;
  display: block;
}
.main-nav__toggle span,
.main-nav__toggle span::after,
.main-nav__toggle span::before {
  width: 100%;
  height: 4px;
  background-color: #ffc4df;
  transition: all 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 2px;
}
/* on activation */
.main-nav--opened .main-nav__toggle span {
  background-color: transparent;
}
.main-nav--opened .main-nav__toggle span::before {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}
.main-nav--opened .main-nav__toggle span::after {
  -webkit-transform: rotate(-45deg) translate(7px, -8px);
          transform: rotate(-45deg) translate(7px, -8px);
}
.main-nav--closed.main-nav {
  left: 100%;
}
.main-nav__list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  z-index: 55;
}
.main-nav__item {
  position: relative;
  margin-bottom: 18px;
}
.main-nav__item--list ul {
  transition: 0.2s;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.main-nav__item--list::before {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  left: -20px;
  width: 150px;
  height: 40px;
}
.main-nav__link {
  text-decoration: none;
  font-size: 21px;
  font-weight: 600;
  line-height: 34px;
  color: #ffffff;
}
.main-nav__link:hover {
  color: #b8b8b8;
  transition: 0.4s;
}
.main-nav__logo-link {
  margin-top: 120px;
  margin-bottom: 30px;
}
.main {
  width: 100%;
}
.intro {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #c80066;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
.intro__logo-link {
  transition: 1s;
}
.intro__logo-link:hover {
  opacity: 0.5;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  transition: 1s;
}
.intro__image {
  opacity: 0.5;
  transition: 1.3s;
}
.intro__image:hover {
  opacity: 1;
  transition: 1.3s;
}
.intro__contacts {
  margin-bottom: 30px;
  font-size: 20px;
  color: #ffc4df;
}
.intro__header {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 5px;
  margin-right: 5px;
}
.home {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 1000px;
  overflow: hidden;
  transition: 1s;
}
.home:hover {
  background-color: rgba(255, 196, 223, 0.1);
}
.home__intro {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 5px;
  margin-right: 5px;
}
.home__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.home__block {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
.home__image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__image--border img {
  border: 2px solid #ff8daf;
  box-sizing: border-box;
  transition: 1s;
}
.home__image--border img:hover {
  border: 2px solid #c80066;
  opacity: 0.5;
  transition: 1s;
}
.home__header {
  margin-bottom: 20px;
  font-size: 26px;
  line-height: 30px;
  font-weight: 700;
  color: #c80066;
  margin-top: 60px;
  text-align: left;
}
.home__header2 {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  color: #ab0157;
  margin-top: 30px;
  text-align: left;
}
.home__txt {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #3d3d3d;
}
.home__txt-list {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 26px;
  color: #696969;
  margin-bottom: 20px;
}
.info {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 80px;
  max-width: 800px;
  overflow: hidden;
}
.info__intro {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 5px;
  margin-right: 5px;
}
.info__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.info__block {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.info__header {
  margin-bottom: 20px;
  font-size: 26px;
  line-height: 30px;
  font-weight: 700;
  color: #c80066;
  margin-top: 60px;
  text-align: left;
}
.info__header2 {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  color: #ab0157;
  margin-top: 30px;
  text-align: left;
}
.info__txt {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #3d3d3d;
  margin-top: 10px;
  margin-bottom: 30px;
}
.info__txt-list {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 26px;
  color: #696969;
  margin-bottom: 20px;
}
.info__txt-item {
  margin-bottom: 12px;
}
.image-block {
  width: 100%;
  height: auto;
}
.image-block__slide {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
.image-block__pict {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.image-block__pict-01 {
  z-index: 10;
  transition: 1.5s;
}
.image-block__pict-01:hover {
  opacity: 0;
}
.image-block__pict-02 {
  z-index: 5;
}
.image-block__full {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-block__full img {
  width: 100%;
  height: auto;
  transition: 1s;
}
.image-block__full img:hover {
  opacity: 0.5;
  transition: 1s;
}
.invite {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 80px;
  max-width: 800px;
  overflow: hidden;
}
.invite__link {
  margin: 0;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  color: #ffffff;
  background-color: #c80066;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.5s;
}
.invite__link:hover {
  background-color: #ff8daf;
  transition: 0.5s;
}
.invite__link:active {
  background-color: #ab0157;
}
.invite__intro {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 5px;
  margin-right: 5px;
}
.invite__header {
  margin-bottom: 20px;
  font-size: 26px;
  line-height: 30px;
  font-weight: 700;
  color: #c80066;
  margin-top: 60px;
  text-align: left;
}
.invite__txt {
  margin-top: 10px;
  margin-bottom: 30px;
}
.invite__txt-list {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 26px;
  color: #696969;
  margin-bottom: 20px;
}
.invite__txt-item {
  margin-bottom: 12px;
}
.footer {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #3d3d3d;
}
.footer-cont__logo-block {
  margin-bottom: 30px;
  border-bottom: 1px solid #b8b8b8;
}
.footer-cont__logo-link {
  transition: 1s;
}
.footer-cont__logo-link:hover {
  opacity: 0.5;
  transition: 1s;
}
.footer-cont__logo {
  transition: 1s;
}
.footer-cont__logo:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  transition: 1s;
}
.footer-cont__block-info {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.footer-cont__txt {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 300;
  color: #b8b8b8;
  transition: 1s;
}
.footer-cont__txt:hover {
  color: #ffffff;
  transition: 1s;
}
.footer-cont__nav {
  margin-right: 120px;
  margin-bottom: 50px;
}
.footer-cont__nav-item {
  margin-bottom: 8px;
}
.footer-cont__nav-link {
  text-decoration: none;
  color: #b8b8b8;
}
.footer-cont__nav-link:hover {
  color: #ffffff;
  text-decoration: underline;
}
.footer-cont__nav-link--active {
  color: #ff8daf;
}
.footer-cont__nav-link--active:hover {
  color: #c80066;
  text-decoration: none;
}
.footer-cont__adress {
  margin-right: 120px;
}
.footer-cont__adress-item {
  margin-bottom: 8px;
  color: #b8b8b8;
}
.footer-cont__header {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}
.footer-cont__social {
  margin-right: 80px;
}
.footer-cont__social-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer-cont__social-item {
  width: 40px;
  height: auto;
  margin-right: 15px;
}
.footer-cont__social-link {
  display: block;
  width: 40px;
  height: auto;
}
.footer-cont__copyright {
  display: flex;
  flex-direction: column;
  width: 250px;
}
.footer-cont__copyright-txt {
  font-size: 0.8rem;
  color: #b8b8b8;
}
.social-icon__facebook circle {
  fill: #b8b8b8;
}
.social-icon__facebook:hover circle {
  fill: #c80066;
}
.social-icon__facebook:active circle {
  fill: #ff8daf;
}
.social-icon__vk svg {
  fill: #b8b8b8;
}
.social-icon__vk:hover svg {
  fill: #c80066;
}
.social-icon__vk:active svg {
  fill: #ff8daf;
}
.social-icon__instagram svg {
  fill: #b8b8b8;
}
.social-icon__instagram:hover svg {
  fill: #c80066;
}
.social-icon__instagram:active svg {
  fill: #ff8daf;
}
.about {
  width: 100%;
}
.about__items {
  display: grid;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.about__block {
  margin-bottom: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.about__block-01 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: block1;
  margin: 0;
  background-color: #c80066;
  transition: 1s;
}
.about__block-01:hover {
  background-color: #ab0157;
  transition: 1s;
}
.about__block-02 {
  grid-area: block2;
  padding: 80px;
  transition: 1.5s;
}
.about__block-02:hover {
  background-color: rgba(255, 196, 223, 0.5);
  transition: 1.5s;
}
.about__block-03 {
  grid-area: block3;
  display: flex;
  margin: 0;
  padding: 0;
  background-image: url("../img/about_background-01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about__block-04 {
  grid-area: block4;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 40px;
  background-color: rgba(255, 196, 223, 0.2);
}
.about__block-04--color {
  background-color: #c80066;
}
.about__block-05 {
  grid-area: block5;
}
.about__block-06 {
  grid-area: block6;
  display: flex;
  margin: 0;
  padding: 0;
  background-image: url("../img/about_background-02.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about__block-06--contact {
  background-image: url("../img/about_background-12.jpg");
}
.about__logo-link {
  transition: 1s;
}
.about__logo-link:hover {
  opacity: 0.5;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  transition: 1s;
}
.about__header {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  color: #ab0157;
  margin-top: 10px;
  text-align: left;
}
.about__header--color {
  color: #ffc4df;
}
.about__txt {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #3d3d3d;
  margin-top: 10px;
}
.about__txt-phone {
  margin-top: 40px;
  font-size: 58px;
  color: #c80066;
}
.about__phone-txt {
  font-size: 28px;
  color: #ab0157;
}
.about__txt-adress {
  font-size: 28px;
  color: #ffffff;
}
.about__map {
  display: flex;
  width: 100%;
  height: 400px;
}
.production {
  width: 100%;
  margin-top: 70px;
}
.production__intro {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 5px;
  margin-right: 5px;
}
.production__items {
  display: grid;
  grid-template-columns: 50px 1fr 1fr 1fr 1fr;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /*.sm-block({
    grid-template-columns: 1fr;
    grid-template-rows: 400px auto auto auto auto auto auto auto 400px;
    grid-template-areas:
      "block2"
      "block3"
      "block4"
      "block5"
      "block6"
      "block7"
      "block8"
      "block9"
      "block10";
  });*/
}
.production__block {
  margin-bottom: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.production__block-01 {
  grid-area: block1;
  margin: 0;
}
.production__block-02 {
  grid-area: block2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-image: url("../img/prod_block-img-01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffc4df;
}
.production__block-03 {
  grid-area: block3;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #c80066;
}
.production__block-04 {
  grid-area: block4;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin: 0;
  background-color: #ff8daf;
}
.production__block-05 {
  grid-area: block5;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  background-color: #ffc4df;
}
.production__block-wrrap {
  display: block;
}
.production__block-06 {
  grid-area: block6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  background-color: #c80066;
}
.production__block-07 {
  grid-area: block7;
  margin: 0;
  border-top: 4px solid #ab0157;
  border-bottom: 4px solid #ab0157;
  background-image: url("../img/prod_block-img-02.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffc4df;
}
.production__block-08 {
  grid-area: block8;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
}
.production__block-09 {
  grid-area: block9;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
}
.production__block-10 {
  grid-area: block10;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-image: url("../img/prod_block-img-03.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffc4df;
}
.production__link {
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 4px;
  text-shadow: 0px 1px 3px #3d3d3d;
  background-color: rgba(255, 255, 255, 0.6);
  transition: 0.6s;
  /*&:before,
  &:after {
    position: absolute;
    content: ' ';
    top: 25px;
    left: 240px;
    width: 20px;
    height: 2px;
    background-color: @white;
  }

  &:before {
    transform: rotate(25deg);
    transform-origin: right;
  }

  &:after {
    transform: rotate(-25deg);
    transform-origin: right;
  }*/
  /* &--pink:before,
  &--pink:after {
    background-color: @base;
  }*/
}
.production__link:hover {
  color: #ff8daf;
  border: 2px solid #ff8daf;
  text-shadow: none;
  transition: 0.6s;
}
.production__link--pink {
  color: #c80066;
  border: 2px solid #c80066;
  text-shadow: none;
  transition: 0.6s;
}
.production__link--pink:hover {
  color: #ff8daf;
  border: 2px solid #ff8daf;
  text-shadow: none;
  transition: 0.6s;
}
.production__link--white {
  color: #ffffff;
  border: 2px solid #ffffff;
  text-shadow: none;
  transition: 0.6s;
}
.production__link--white:hover {
  color: #ffffff;
  border: 2px solid #ff8daf;
  text-shadow: 0px 2px 3px #696969;
  transition: 0.6s;
}
.production__header {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  transition: 0.3s;
}
.production__header:hover {
  -webkit-transform: scale(1.02, 1.02);
          transform: scale(1.02, 1.02);
  transition: 0.3s;
}
.production__header-link {
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  transition: 0.5s;
}
.production__header-link--pink {
  color: #c80066;
}
.production__header-link:hover {
  color: #ffc4df;
  transition: 0.5s;
}
.production__header-link--pink:hover {
  color: #ffffff;
}
.production__txt {
  margin-top: 10px;
  margin-bottom: 15px;
  color: #ffffff;
}
.manufacture {
  width: 100%;
}
/*grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: auto auto auto auto;
grid-template-areas:
"block1 block1 block2"
"block3 block3 block4"
"block5 block5 block4"
"block6 block6 block6";*/
.manufacture__items {
  display: grid;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.manufacture__block {
  margin-bottom: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.manufacture__block-01 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: block1;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: rgba(255, 196, 223, 0.2);
}
.manufacture__block-02 {
  grid-area: block2;
  display: flex;
  margin: 0;
  padding: 0;
  background-image: url("../img/manufacture_background-01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.manufacture__block-03 {
  grid-area: block3;
  display: flex;
  height: 480px;
  margin: 0;
  padding: 0;
  background-image: url("../img/manufacture_background-02.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.manufacture__block-04 {
  grid-area: block4;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 22px;
  background-color: #ffffff;
}
.manufacture__block-05 {
  grid-area: block5;
  margin: 0;
  padding: 60px;
  background-color: rgba(255, 196, 223, 0.2);
}
.manufacture__block-06 {
  grid-area: block6;
  display: flex;
  height: 300px;
  margin: 0;
  padding: 0;
  background-image: url("../img/manufacture_background-03.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.manufacture__header {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  color: #ab0157;
  margin-top: 10px;
  text-align: left;
}
.manufacture__txt {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #3d3d3d;
  margin-top: 10px;
  margin-bottom: 30px;
}
.manufacture__txt-list {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 26px;
  color: #696969;
  margin-bottom: 20px;
}
.manufacture__txt-item {
  margin-bottom: 12px;
}
.up-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  top: 52px;
  left: -80px;
  width: 270px;
  box-sizing: border-box;
  background-color: #ff8daf;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 7px 7px 3px rgba(61, 61, 61, 0.4);
  z-index: 10;
}
.up-menu::after {
  content: "";
  position: absolute;
  top: -25px;
  left: 50%;
  width: 50px;
  height: 25px;
  margin-left: -25px;
  background-image: url(../img/up-menu_poligon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5;
}
.up-menu__item {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  transition: 0.5s;
}
.up-menu__item:hover {
  background-color: #c80066;
  transition: 0.5s;
  box-shadow: inset 0 3px 3px rgba(61, 61, 61, 0.2), inset 0 -3px 3px rgba(61, 61, 61, 0.2);
}
.up-menu__link {
  text-decoration: none;
  text-transform: none;
  color: #ffffff;
}
.up-menu__link:hover {
  color: #ff8daf;
}
@media screen and (min-width: 200px) {
  .wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }
  .debug > div {
    padding-left: 0px;
    padding-right: 0px;
  }
  .debug > div {
    padding-left: 0px;
    padding-right: 0px;
  }
  .debug > div > div {
    margin-left: 0px;
    margin-right: 0px;
  }
  .debug > div > div > div {
    margin-left: 0px;
    margin-right: 0px;
  }
  .debug > div > div > div {
    width: calc(4.166666666666667% - 0px);
  }
  .main-nav__item--list:hover ul {
    display: none;
  }
  .intro {
    justify-content: space-around;
    align-items: center;
    padding-top: 0;
  }
  .intro__logo-link {
    margin-top: 100px;
  }
  .intro__image {
    margin-top: 0;
  }
  .intro__header {
    margin-left: 0px;
    margin-right: 0px;
  }
  .intro__header {
    display: none;
  }
  .home__intro {
    margin-left: 0px;
    margin-right: 0px;
  }
  .home__intro {
    width: calc(91.66666666666667% - 0px);
  }
  .home__block {
    margin-left: 0px;
    margin-right: 0px;
  }
  .home__block {
    width: calc(91.66666666666667% - 0px);
  }
  .home__image {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .info__intro {
    margin-left: 0px;
    margin-right: 0px;
  }
  .info__intro {
    width: calc(91.66666666666667% - 0px);
  }
  .info__block {
    margin-left: 0px;
    margin-right: 0px;
  }
  .info__block {
    width: calc(91.66666666666667% - 0px);
  }
  .image-block {
    display: none;
  }
  .invite {
    flex-direction: column-reverse;
  }
  .invite__link {
    margin-top: 50px;
  }
  .invite__intro {
    margin-left: 0px;
    margin-right: 0px;
  }
  .invite__intro {
    width: calc(91.66666666666667% - 0px);
  }
  .footer {
    display: none;
  }
  .about__items {
    grid-template-columns: 1fr ;
    grid-template-rows: 250px auto 400px auto auto 400px;
    grid-template-areas: "block1" "block2" "block3" "block4" "block5" "block6";
    width: 100%;
    margin: 0 auto;
  }
  .about__block-02 {
    padding: 20px;
  }
  .about__block-04 {
    padding: 20px;
  }
  .about__block-05 {
    padding: 20px;
  }
  .about__block-05--map {
    padding: 0;
  }
  .about__txt-phone {
    font-size: 32px;
  }
  .about__phone-txt {
    font-size: 21px;
  }
  .about__txt-adress {
    font-size: 21px;
  }
  .production__intro {
    margin-left: 0px;
    margin-right: 0px;
  }
  .production__intro {
    width: calc(91.66666666666667% - 0px);
  }
  .production__items {
    grid-template-columns: 1fr;
    grid-template-rows: 400px auto auto 400px auto auto 500px auto 400px;
    grid-template-areas: "block2" "block3" "block4" "block10" "block5" "block6" "block7" "block8" "block9";
  }
  .production__block-03 {
    padding: 20px;
  }
  .production__block-04 {
    padding: 20px;
  }
  .production__block-05 {
    padding: 20px;
  }
  .production__block-06 {
    padding: 20px;
  }
  .production__block-08 {
    padding: 20px;
    background-color: #ff8daf;
  }
  .production__block-09 {
    padding: 20px;
    background-color: #ffc4df;
  }
  .production__link {
    display: none;
  }
  .production__header {
    font-size: 28px;
  }
  .manufacture__items {
    grid-template-columns: 1fr ;
    grid-template-rows: 250px auto 400px auto auto 400px;
    grid-template-areas: "block1" "block2" "block3" "block4" "block5" "block6";
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 560px) {
  .wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
  .debug > div {
    padding-left: 10px;
    padding-right: 10px;
  }
  .debug > div {
    padding-left: 10px;
    padding-right: 10px;
  }
  .debug > div > div {
    margin-left: -2.5px;
    margin-right: -2.5px;
  }
  .debug > div > div > div {
    margin-left: 2.5px;
    margin-right: 2.5px;
  }
  .debug > div > div > div {
    width: calc(4.166666666666667% - 5px);
  }
  .intro__header {
    margin-left: 2.5px;
    margin-right: 2.5px;
  }
  .home__intro {
    margin-left: 2.5px;
    margin-right: 2.5px;
  }
  .home__block {
    margin-left: 2.5px;
    margin-right: 2.5px;
  }
  .info__intro {
    margin-left: 2.5px;
    margin-right: 2.5px;
  }
  .info__block {
    margin-left: 2.5px;
    margin-right: 2.5px;
  }
  .image-block {
    display: block;
    margin-bottom: 70px;
  }
  .image-block__slide {
    height: 300px;
  }
  .invite__intro {
    margin-left: 2.5px;
    margin-right: 2.5px;
  }
  .about__items {
    grid-template-columns: 1fr ;
    grid-template-rows: 250px auto 400px auto auto 400px;
    grid-template-areas: "block1" "block2" "block3" "block4" "block5" "block6";
    width: 90%;
    margin: 0 auto;
  }
  .about__block-02 {
    padding: 40px;
  }
  .about__block-04 {
    padding: 40px;
  }
  .about__block-05 {
    padding: 40px;
  }
  .about__block-05--map {
    padding: 0;
  }
  .production__intro {
    margin-left: 2.5px;
    margin-right: 2.5px;
  }
  .manufacture__items {
    grid-template-columns: 1fr ;
    grid-template-rows: 250px auto 400px auto auto 400px;
    grid-template-areas: "block1" "block2" "block3" "block4" "block5" "block6";
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 780px) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .debug > div {
    padding-left: 20px;
    padding-right: 20px;
  }
  .debug > div {
    padding-left: 20px;
    padding-right: 20px;
  }
  .debug > div > div {
    margin-left: -5px;
    margin-right: -5px;
  }
  .debug > div > div > div {
    margin-left: 5px;
    margin-right: 5px;
  }
  .debug > div > div > div {
    width: calc(4.166666666666667% - 10px);
  }
  .intro__header {
    margin-left: 5px;
    margin-right: 5px;
  }
  .home__intro {
    margin-left: 5px;
    margin-right: 5px;
  }
  .home__block {
    margin-left: 5px;
    margin-right: 5px;
  }
  .info__intro {
    margin-left: 5px;
    margin-right: 5px;
  }
  .info__block {
    margin-left: 5px;
    margin-right: 5px;
  }
  .image-block__slide {
    height: 350px;
  }
  .invite__intro {
    margin-left: 5px;
    margin-right: 5px;
  }
  .about__items {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "block1 block2 block2" "block3 block3 block4" "block5 block5 block6";
    width: 95%;
    margin: 0 auto;
  }
  .production__intro {
    margin-left: 5px;
    margin-right: 5px;
  }
  .manufacture__items {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "block1 block1 block2" "block3 block3 block4" "block5 block5 block4" "block6 block6 block6";
    width: 95%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 960px) {
  .main-nav__item--list:hover ul {
    display: block;
    transition: 0.2s;
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  .image-block__slide {
    height: 400px;
  }
  .about__items {
    width: 90%;
    margin: 0 auto;
  }
  .about__txt-phone {
    font-size: 58px;
  }
  .about__phone-txt {
    font-size: 28px;
  }
  .about__txt-adress {
    font-size: 28px;
  }
  .production__items {
    grid-template-columns: 30px 1fr 1fr 1fr 1fr;
    grid-template-rows: 400px auto auto 400px auto;
    grid-template-areas: "block1 block2 block2 block5 block5" "block1 block3 block3 block6 block6" "block1 block4 block4 block7 block7" "block1 block10 block10 block7 block7" "block1 block8 block8 block9 block9";
  }
  .production__block-01 {
    background-color: #ffc4df;
  }
  .production__block-02 {
    border-left: none;
    border-right: none;
  }
  .production__block-03 {
    justify-content: center;
    padding: 25px;
    background-color: #ff8daf;
  }
  .production__block-04 {
    justify-content: center;
    padding: 25px;
    background-color: #c80066;
  }
  .production__block-05 {
    justify-content: center;
    padding: 25px;
  }
  .production__block-06 {
    justify-content: space-around;
    padding: 25px;
  }
  .production__block-07 {
    border-top: none;
    border-bottom: none;
  }
  .production__block-08 {
    justify-content: space-around;
    padding: 25px;
    background-color: #ff8daf;
  }
  .production__block-09 {
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    background-color: #ffc4df;
  }
  .production__block-10 {
    border-left: none;
    border-right: none;
    border-bottom: none;
  }
  .production__link {
    display: block;
  }
  .production__header {
    font-size: 32px;
  }
  .manufacture__items {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1100px) {
  .main-nav {
    flex-direction: row;
    height: auto;
    padding: 0;
    background-color: #ab0157;
  }
  .main-nav--inner {
    background-color: #696969;
    transition: 0.5s;
  }
  .main-nav:hover {
    background-color: #c80066;
    transition: 0.5s;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav--closed.main-nav {
    left: 0;
  }
  .main-nav__list {
    flex-direction: row;
  }
  .main-nav__item {
    margin-top: 18px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 21px;
    text-transform: uppercase;
  }
  .main-nav__link--activ {
    color: #ffc4df;
  }
  .main-nav__link--activ:hover {
    color: #dedede;
    transition: 1s;
  }
  .main-nav__logo-link {
    display: none;
  }
  .intro {
    justify-content: center;
    padding-top: 50px;
  }
  .intro__image {
    margin-top: 50px;
    width: 550px;
  }
  .intro__contacts {
    display: none;
  }
  .intro__header {
    width: calc(50% - 10px);
  }
  .intro__header {
    display: block;
    margin-top: 50px;
    text-align: center;
    font-size: 42px;
    font-weight: 300;
    color: #ffffff;
    text-transform: uppercase;
    transition: 1s;
  }
  .intro__header:hover {
    color: #ff8daf;
    transition: 1s;
  }
  .home__intro {
    width: calc(50% - 10px);
  }
  .home__intro {
    display: block;
    margin-bottom: 50px;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  .home__block {
    width: calc(50% - 10px);
  }
  .home__image {
    margin-top: 0;
    margin-bottom: 0;
  }
  .info__intro {
    width: calc(50% - 10px);
  }
  .info__intro {
    display: block;
    margin-bottom: 50px;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  .info__block {
    width: calc(50% - 10px);
  }
  .image-block__slide {
    height: 400px;
  }
  .invite__intro {
    width: calc(50% - 10px);
  }
  .invite__intro {
    display: block;
    margin-bottom: 50px;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  .footer {
    display: block;
  }
  .about {
    margin-top: 50px;
  }
  .about__items {
    width: 85%;
    margin: 0 auto;
  }
  .production__intro {
    width: calc(50% - 10px);
  }
  .production__intro {
    display: block;
    margin-bottom: 50px;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  .manufacture {
    margin-top: 50px;
  }
  .manufacture__items {
    width: 85%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1410px) {
  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
  .debug > div {
    padding-left: 30px;
    padding-right: 30px;
  }
  .debug > div {
    padding-left: 30px;
    padding-right: 30px;
  }
  .intro__image {
    margin-top: 70px;
    width: 650px;
  }
  .image-block__slide {
    height: 700px;
  }
  .about {
    margin-top: 100px;
  }
  .about__items {
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 150px;
  }
  .about__block-05 {
    padding: 50px;
  }
  .about__block-05--map {
    padding: 0;
  }
  .production__items {
    grid-template-areas: "block1 block2 block4 block5 block5" "block1 block2 block4 block6 block6" "block1 block3 block10 block7 block7" "block1 block8 block8 block9 block9";
  }
  .production__block-01 {
    padding: 0;
    background-color: #ff8daf;
  }
  .production__block-02 {
    border-left: 4px solid #c80066;
    border-right: 4px solid #c80066;
  }
  .production__block-03 {
    padding: 30px;
    background-color: #c80066;
  }
  .production__block-04 {
    padding: 30px;
    background-color: #ff8daf;
  }
  .production__block-05 {
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
  }
  .production__block-06 {
    padding: 30px;
  }
  .production__block-08 {
    justify-content: space-around;
    padding: 35px;
    background-color: #ffc4df;
  }
  .production__block-09 {
    flex-direction: column;
    justify-content: space-around;
    padding: 35px;
    background-color: #ff8daf;
  }
  .production__block-10 {
    border-left: 4px solid #ff8daf;
    border-right: 4px solid #ff8daf;
    border-bottom: 4px solid #ff8daf;
  }
  .production__header {
    font-size: 40px;
  }
  .manufacture {
    margin-top: 90px;
  }
  .manufacture__items {
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 150px;
  }
}
@media screen and (min-width: 1800px) {
  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
  .debug > div {
    padding-left: 30px;
    padding-right: 30px;
  }
  .debug > div {
    padding-left: 30px;
    padding-right: 30px;
  }
  .production__block-wrrap {
    max-width: 85%;
  }
  .production__block-08 {
    flex-direction: column;
    justify-content: center;
    padding: 30px;
  }
  .production__block-09 {
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
  }
}
@media screen and (min-width: 1920px) {
  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
  .debug > div {
    padding-left: 30px;
    padding-right: 30px;
  }
  .debug > div {
    padding-left: 30px;
    padding-right: 30px;
  }
  .intro__header {
    margin-top: 90px;
    font-size: 52px;
  }
  .production__items {
    grid-template-rows: 400px 300px auto auto auto;
    grid-template-areas: "block1 block2 block4 block5 block5" "block1 block2 block4 block6 block7" "block1 block3 block10 block6 block7" "block1 block8 block8 block9 block9";
  }
  .production__block-01 {
    padding: 10px;
  }
  .production__block-02 {
    border-left: 4px solid #c80066;
    border-right: 4px solid #c80066;
  }
  .production__block-03 {
    padding: 50px;
  }
  .production__block-04 {
    padding: 50px;
  }
  .production__block-05 {
    justify-content: space-around;
    padding: 50px;
  }
  .production__block-wrrap {
    max-width: 550px;
  }
  .production__block-06 {
    padding: 50px;
  }
  .production__block-08 {
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
  }
  .production__block-09 {
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
  }
  .production__block-10 {
    border-left: 4px solid #ff8daf;
    border-right: 4px solid #ff8daf;
    border-bottom: 4px solid #ff8daf;
  }
  .production__header {
    font-size: 48px;
  }
}
