html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  width: auto;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  color: #04619e;
  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  font-size: 0;
  overflow: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
fieldset {
  border: none;
}
@font-face {
  font-weight: 300;
  font-family: "Roboto";
  font-style: normal;
  src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/RobotoLight.woff") format("woff");
}
@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/RobotoRegular.woff") format("woff");
}
@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/RobotoMedium.woff") format("woff");
}
@font-face {
  font-weight: 700;
  font-family: "Roboto";
  font-style: normal;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/RobotoBold.woff") format("woff");
}
.page-header {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  min-height: 170px;
  background-color: #f2f2f2;
}
.page-main {
  width: auto;
}
.main-nav {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 940px;
  margin: 0 auto;
  min-height: 170px;
}
.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0;
  list-style: none;
  width: 350px;
  min-height: 550px;
  margin-left: auto;
  text-align: right;
}
.main-nav__item {
  margin: 10px 0;
  font-size: 21px;
}
.main-nav__item:hover {
  padding-right: 10px;
  background-color: #fff776;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transform-origin: center right;
          transform-origin: center right;
}
.main-nav__item--activ:hover {
  padding-right: 0px;
  background-color: transparent;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transform: scale(1);
          transform: scale(1);
}
.main-nav__item a {
  color: #04619e;
}
.main-nav__item a:hover {
  color: #3cccef;
}
.main-nav__logo {
  margin-top: 0px;
  margin-bottom: 30px;
}
.main-nav__logo:hover {
  padding-right: 0;
  background-color: transparent;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transform: scale(1);
          transform: scale(1);
}
.intro {
  position: relative;
  width: 100%;
  min-height: 750px;
  margin: 0 auto;
  margin-top: -590px;
  padding: 0;
  background-image: url("../img/bg-back-desktop@1x.jpg");
  background-size: auto;
  background-position: top center;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
.intro__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 960px;
  min-height: 750px;
  margin: 0 auto;
  padding: 0;
}
.intro__promo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 275px;
  min-height: 300px;
  text-align: center;
}
.intro__btn {
  width: 210px;
  padding: 10px 30px;
  color: #ffffff;
  background-color: #3cccef;
  border-radius: 30px;
  border: 2px solid #fff776;
  text-transform: uppercase;
}
.intro__news {
  margin-bottom: 30px;
  margin-top: 25px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #ffffff;
  border-radius: 15px;
  background-color: #25abcd;
}
.slogan {
  width: auto;
  min-height: 150px;
  margin: 0 auto;
  padding: 0;
}
.slogan__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 960px;
  margin: 0 auto;
}
.slogan__text {
  max-width: 940px;
  font-size: 36px;
  font-weight: 300;
  line-height: 42px;
  color: #3cccef;
  text-align: center;
}
.sponsor {
  width: 100%;
  min-height: 180px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f2f2f2;
}
.sponsor__wrapper {
  max-width: 960px;
  min-height: 140px;
  margin: auto;
  border-top: 2px solid #04619e;
  border-bottom: 2px solid #04619e;
}
.sponsor__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  list-style: none;
}
.sponsor__item {
  width: 200px;
  padding: 0;
}
.sponsor__item1 {
  width: 230px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  font-size: 30px;
  font-weight: 300;
  border-right: 2px solid #04619e;
}
.news {
  width: 0 auto;
  background-color: #dcf8ff;
}
.news__wrapper {
  display: block;
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 60px;
  background-image: url("../img/bg-triangle-white.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}
.news__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 960px;
  min-height: 260px;
  margin: 0;
  padding: 0;
  text-align: center;
}
.news__item {
  width: 270px;
  padding-top: 80px;
}
.promo-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 0 auto;
  min-height: 330px;
  background-color: #fcfdb3;
}
.promo-news img {
  width: 592px;
  height: 330px;
  margin-left: auto;
  padding-right: 50px;
}
.promo-news__wrapper {
  max-width: 400px;
  min-height: 280px;
  margin-right: auto;
  padding-right: 50px;
}
.calendar {
  width: auto;
  background-color: #f2f2f2;
}
.calendar__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 960px;
  min-height: 620px;
  margin: 0 auto;
  background-image: url("../img/bg-triangle-white.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}
.calendar__header {
  padding-top: 50px;
  font-size: 26px;
  color: #04619e;
}
.contacts {
  width: auto;
}
.contacts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
}
.contacts__header {
  margin: auto;
  padding-top: 30px;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}
.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 960px;
  padding: 0;
  list-style: none;
}
.contacts__item {
  padding: 0 18px;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}
.contacts__address {
  font-size: 28px;
  font-weight: 300;
  color: #25abcd;
}
.contacts__map-wrapper {
  width: 100%;
  min-height: 300px;
}
.contacts__map {
  width: 100%;
  min-height: 300px;
}
.note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.note__header {
  width: 240px;
  min-height: 60px;
  margin-top: 40px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
  color: #04619e;
  cursor: pointer;
}
.note__text {
  width: 250px;
  padding-top: 25px;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
}
.note__photo {
  width: 265px;
  height: 200px;
  margin: 0;
  padding: 0;
}
.note__photo img {
  width: 265px;
  height: 200px;
}
