/*-- fonts --*/
/*
  .size-xxs(12);
  .size-xs(12);
  .size-sm(10);
  .size-md(6);
  .size-lg(2);
  */
body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img,
abbr {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ul li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
legend {
  color: #000;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
img {
  max-width: 100%;
  height: auto;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}
/*
.debug {
  position: relative;
  .debug(rgba(0, 0, 0, 0.1), 1px solid #ff0);
}
*/
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  font-size: 0;
  overflow: hidden;
}
@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-Regular.woff2') format('woff2'), url('/fonts/Raleway-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-LightItalic.woff2') format('woff2'), url('/fonts/Raleway-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-Bold.woff2') format('woff2'), url('/fonts/Raleway-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-Light.woff2') format('woff2'), url('/fonts/Raleway-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-Italic.woff2') format('woff2'), url('/fonts/Raleway-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-SemiBold.woff2') format('woff2'), url('/fonts/Raleway-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-Medium.woff2') format('woff2'), url('/fonts/Raleway-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/*-- Page --*/
.page {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}
.page__body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 225px 1fr 365px;
  grid-template-columns: 1fr;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*-- header --*/
.header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "Raleway", sans-serif;
  background-color: #C0B6D2;
}
.header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  box-sizing: border-box;
  background-image: url("/img/img-01-mob.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
.header__logo-block {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
.header__logo-col {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 125px;
  height: 20px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ffffff;
}
.header__row {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 110px;
  margin: 0;
  padding: 0;
  padding-left: 40px;
  box-sizing: border-box;
}
.header__col {
  position: relative;
  display: flex;
  width: 80px;
  height: 80px;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  padding-left: 8px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}
.header__col::before {
  position: absolute;
  content: "";
  bottom: -33px;
  left: calc(50% - 1px);
  width: 1px;
  height: 33px;
  background-color: #ffffff;
}
.header__txt {
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: #ffffff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.main {
  grid-area: main;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
}
/*-- content --*/
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  color: #000000;
  background-color: #ffffff;
}
.content__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-left: 40px;
  box-sizing: border-box;
}
.content__h1 {
  width: 100%;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  border-bottom: 1px solid #000000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.content__h1--desktop {
  display: none;
}
.content__txt {
  font-size: 14px;
  line-height: 18px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.content__txt--width {
  width: 240px;
}
.content__txt--mb {
  margin-bottom: 40px;
}
.content__txt--medium {
  font-weight: 600;
  line-height: 24px;
}
.content__txt--italic {
  font-style: italic;
}
.content__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 30px;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  text-transform: uppercase;
  border: 1px solid #000000;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.content__btn:hover {
  background-color: #C0B6D2;
}
.content__row {
  display: none;
}
/*-- photo-block --*/
.photo-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  color: #000000;
  background-color: #ffffff;
}
.photo-block__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-left: 40px;
  box-sizing: border-box;
}
.photo-block__col {
  display: flex;
  height: 230px;
  margin: 0;
  padding: 0;
}
.photo-block__col--left {
  flex-grow: 1;
}
.photo-block__col--right {
  flex: none;
  width: 90px;
  background-color: #000000;
}
.photo-block__image-block {
  position: absolute;
  top: calc(50% - 90px);
  right: 45px;
  width: 275px;
  height: 180px;
  background-image: url("/img/img-02-mob.jpg");
}
.photo-block__image-txt {
  display: none;
}
/*--- benefit ---*/
.benefit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  color: #000000;
  background-color: #ffffff;
}
.benefit__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
}
.benefit__h2 {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}
.benefit__txt {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 14px;
  line-height: 17px;
}
.services {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  color: #000000;
  background-color: #ffffff;
}
.services__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
.services__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
}
.services__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
}
.services__image-block {
  position: relative;
  width: 100%;
  height: 240px;
  margin: 0;
  padding: 0;
}
.services__img {
  width: 100%;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}
.services__txt-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 285px;
  min-height: 200px;
  margin: 0;
  margin-top: -50px;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  background-color: #ffffff;
  z-index: 2;
}
.services__h3 {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
}
.services__txt {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 18px;
}
.price {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  background-color: #C0B6D2;
}
.price__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
}
.price__image-block {
  position: relative;
  width: 100%;
  height: 240px;
  margin: 0;
  padding: 0;
}
.price__img {
  width: 100%;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}
.price__img--desktop {
  display: none;
}
.price__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-left: 40px;
  padding-top: 30px;
  padding-bottom: 20px;
  box-sizing: border-box;
}
.price__h3 {
  width: 100%;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  border-bottom: 1px solid #ffffff;
}
.price__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  margin: 0;
  padding: 0;
}
.price__item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 260px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 5px;
  box-sizing: border-box;
  background-color: #ffffff;
}
.price__item-head {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #8977AA;
  text-transform: uppercase;
}
.price__item-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}
.price__item-name {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  padding-right: 20px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
.price__item-cost {
  flex: none;
  width: 80px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  color: #8977AA;
}
.price__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 30px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  border: 1px solid #000000;
  background-color: #ffffff;
  margin-bottom: -15px;
  color: #ffffff;
  background-color: #60507D;
  border: 1px solid #ffffff;
  cursor: pointer;
}
.price__btn:hover {
  background-color: #C0B6D2;
}
/*-- footer --*/
.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 20px;
  font-family: "Raleway", sans-serif;
  background-color: #ffffff;
  background-image: url("/img/img-06.jpg");
  background-repeat: no-repeat;
  background-position: 10% right;
  background-size: cover;
}
.footer__wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.footer__contact-block {
  display: flex;
  flex-wrap: wrap;
  width: 290px;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  background-color: rgba(54, 54, 54, 0.7);
  border-radius: 5px;
}
.footer__h2 {
  width: 100%;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
}
.footer__txt {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
@media screen and (min-width: 720px) {
  .page__body {
    grid-template-rows: 80px 1fr 500px;
  }
  .header {
    background-color: #000000;
  }
  .header__wrapper {
    height: 100px;
    margin: 0;
    padding: 0;
    background-image: none;
  }
  .header__logo-block {
    padding-top: 27px;
  }
  .header__logo-col {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 300px;
    height: 40px;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ffffff;
  }
  .header__logo {
    width: 200px;
  }
  .header__row {
    display: none;
  }
  .content {
    flex-wrap: wrap;
    width: 100%;
    height: 400px;
    color: #ffffff;
    background-color: #ffffff;
    background-image: url("/img/img-01-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }
  .content__wrapper {
    position: relative;
    padding-left: 100px;
  }
  .content__row {
    display: flex;
    align-items: center;
    width: 100%;
    height: 160px;
    margin: 0;
    padding: 0;
  }
  .content__row-line {
    display: flex;
    align-items: center;
    width: 100px;
    height: 100%;
  }
  .content__line {
    width: 100%;
    height: 1px;
    background-color: #ffffff;
  }
  .content__col-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .content__col {
    position: relative;
    display: flex;
    width: 120px;
    height: 120px;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    padding-left: 15px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
  }
  .content__col-txt {
    margin: 0;
    padding: 0;
    font-size: 25px;
    line-height: 30px;
    color: #ffffff;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .content__h1 {
    border-bottom: none;
  }
  .content__txt--hide {
    display: none;
  }
  .content__btn {
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    z-index: 3;
  }
  .content__btn:hover {
    background-color: #C0B6D2;
  }
  .photo-block__wrapper {
    margin-top: -100px;
    width: 800px;
  }
  .photo-block__col {
    height: 700px;
  }
  .photo-block__col--right {
    width: 150px;
  }
  .photo-block__image-block {
    top: 200px;
    right: 55px;
    display: flex;
    width: 700px;
    height: 400px;
    margin: 0;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 40px;
    background-image: url("/img/img-02-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }
  .photo-block__image-txt {
    display: flex;
    width: 290px;
    font-size: 21px;
    line-height: 28px;
    font-style: italic;
  }
  .benefit__wrapper {
    width: 670px;
    padding-top: 100px;
    padding-bottom: 150px;
  }
  .benefit__h2 {
    margin-bottom: 25px;
    font-size: 28px;
    line-height: 34px;
  }
  .benefit__txt {
    font-size: 18px;
    line-height: 22px;
  }
  .services {
    margin-bottom: 200px;
  }
  .services__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 710px;
    margin: 0;
    padding: 0;
  }
  .services__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 320px;
    height: 320px;
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
  }
  .services__image-block {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .services__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .services__txt-block {
    position: absolute;
    top: 200px;
    left: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 200px;
    min-height: 200px;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid #C0B6D2;
    z-index: 2;
  }
  .services__h3 {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
  }
  .services__txt {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 17px;
  }
  .price__wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  .price__image-block {
    position: relative;
    width: 100%;
    height: 800px;
    margin: 0;
    padding: 0;
  }
  .price__img--desktop {
    display: block;
    width: 100%;
    height: 800px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .price__img--hide {
    display: none;
  }
  .price__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 720px;
    margin: 0;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .price__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 720px;
    margin: 0;
    padding: 0;
  }
  .price__item {
    width: 280px;
    height: 280px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 780px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 1020px) {
  .page__body {
    grid-template-rows: 120px 1fr 800px;
  }
  .header {
    background-color: #000000;
  }
  .header__wrapper {
    height: 120px;
    margin: 0;
    padding: 0;
    background-image: none;
  }
  .header__logo-block {
    padding-top: 30px;
  }
  .header__logo-col {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 450px;
    height: 50px;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ffffff;
  }
  .header__logo {
    width: 250px;
  }
  .header__row {
    display: none;
  }
  .content {
    flex-wrap: wrap;
    width: 100%;
    height: 690px;
    color: #ffffff;
    background-color: #ffffff;
    background-image: url("/img/img-01-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }
  .content__wrapper {
    padding-left: 200px;
  }
  .content__row {
    display: flex;
    align-items: center;
    width: 100%;
    height: 160px;
    margin: 0;
    margin-top: 200px;
    margin-bottom: 40px;
    padding: 0;
  }
  .content__row-line {
    display: flex;
    align-items: center;
    width: 200px;
    height: 100%;
  }
  .content__line {
    width: 100%;
    height: 1px;
    background-color: #ffffff;
  }
  .content__col-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .content__col {
    position: relative;
    display: flex;
    width: 120px;
    height: 120px;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-left: 15px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
  }
  .content__col-txt {
    margin: 0;
    padding: 0;
    font-size: 25px;
    line-height: 30px;
    color: #ffffff;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .content__h1--desktop {
    display: flex;
    font-size: 24px;
    line-height: 30px;
  }
  .content__h1--hide {
    display: none;
  }
  .content__h1 {
    border-bottom: none;
  }
  .content__txt--hide {
    display: none;
  }
  .photo-block__wrapper {
    margin-top: -120px;
    width: 1000px;
  }
  .photo-block__col {
    height: 850px;
  }
  .photo-block__col--right {
    width: 200px;
  }
  .photo-block__image-block {
    top: 250px;
    right: 65px;
    display: flex;
    width: 800px;
    height: 450px;
    margin: 0;
    padding: 0;
    padding-top: 80px;
    padding-bottom: 20px;
    padding-left: 40px;
  }
  .services {
    margin-top: 80px;
    margin-bottom: 150px;
  }
  .services__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
    margin: 0;
    padding: 0;
  }
  .services__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 450px;
    height: 450px;
    margin: 0;
    margin-bottom: 150px;
    padding: 0;
  }
  .services__image-block {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .services__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .services__txt-block {
    position: absolute;
    top: 280px;
    left: 170px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 250px;
    min-height: 200px;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid #C0B6D2;
    z-index: 2;
  }
  .services__h3 {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
  }
  .services__txt {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 17px;
  }
}
